.btn-light-dark {
    position: absolute;
    top: 20px;
    right: 50px;
    width: 40px;
    height: 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 3s;
}

.white {
    position: absolute;
    top: 1.5px;
    left: 2px;
    height: 13px;
    width: 13px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    transition: all 1s;
}

.dark {

    position: absolute;
    top: 1.5px;
    right: 2px;
    height: 13px;
    width: 13px;
    background-color: rgb(11, 243, 81);
    border-radius: 50%;
    transition: all 1s;
}


/* 页脚运行时间 */
.site-statistics {
    margin-top: 10px;
    width: fit-content;
    /* border: 1px solid #6982798f; */
    padding: 4px 1px;  /*上下 左右*/
    color: rgb(150, 194, 166);
}

.site-runtime {
    display: block;
    margin: 0px 30px 10px 0px; /*上右下左*/
}

/* 页脚访问量 */
#busuanzi_container_site_pv {
    color: rgba(196, 137, 200, 0.71);
}

#busuanzi_value_site_pv {
    margin-right: 20px;
}

#busuanzi_value_site_uv {
    margin-right: 20px;
}

/* 考研倒计时 */
.kaoyan-time div div span{
    font-size: 30px;
}